body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
    padding: 0%;
    text-align: center;
    background-color: azure;
}
/*main title*/
h1{
    margin: 35px;
    color:darkcyan;
}

input{
    padding: 5px;

}
/* button style*/

button{
    padding: 5px 5px;
    cursor: pointer;
}

